<a href="https://colab.research.google.com/github/Susanati/funcoespython/blob/main/Fun%C3%A7%C3%A3o_Lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Funções lambda do Python**

São funções anônimas, não definidas previamente como é o caso de funções locais criadas usadas o def.
São estruturas em apenas uma linha de código. Pode retornar o resuldado para uma variável ou para outra função  EX: map(), reduce() e filter().

In [4]:
#função padrão

def soma (num1, num2):
  return num1+num2

print (soma(10,20))

30

In [5]:
#função local permanece no código, podendo ser chamada pelo nome

x=50
y=100

soma (x,y)

150

In [6]:
#criando a primeira função lambda

num1 = 100
num2 = 200

adicao = lambda num1, num2: num1 + num2

print (adicao(num1, num2))

300

In [8]:
# realizando a operação acima utilizando uma função lambda
# a atribuição da função lambda a uma variável não e uma boa forma de utilizá-la,
# mas é uma maneira de entender melhor como lambda funciona

soma_lbd = lambda num1, num2: num1 + num2

print (" usando a função lambda: ", soma_lbd (x,y))
print ("usando a função definida:", soma (x,y))

 usando a função lambda:  150
usando a função definida: 150

In [11]:
# a forma ideal utilizar lambda e dentro de outros funções,
#principamente para resolver problemas
# em estruturas de dados iteráveis, como listas, por exemplo:

autores = ['Marlos Vinicius', 'João Guilherme', 'Alice Fernandes', 'Paulo Emanoel', 'Paulo Guilherme']

print (autores)

autores.sort(key = lambda nome: nome.split (' ')[-1].lower())

print (autores)

autores.sort()

['Marlos Vinicius', 'João Guilherme', 'Alice Fernandes', 'Paulo Emanoel', 'Paulo Guilherme']
['Paulo Emanoel', 'Alice Fernandes', 'João Guilherme', 'Paulo Guilherme', 'Marlos Vinicius']

# **Função Map()**

É uma função builtin de Python
O objetivo e aplicar uma função a todos os elemenntos de um lista gerando uma nova lista como resultado.

In [13]:
# aplicando 10% sobre todos os preços de uma lista de preços definidas

precos = [10,20,30,40,60,70]

def aplica_10 (preco):
  return preco * 1.1

resultado = list(map(aplica_10,precos))

print("primeira lista = ",precos,"\n\nSegunda lista 10%=", resultado)

primeira lista =  [10, 20, 30, 40, 60, 70]

Segunda lista 10%= [11.0, 22.0, 33.0, 44.0, 66.0, 77.0]

In [14]:
#mesma função usando função anonima

precos_10_lbd = list(map(lambda preco:preco * 1.1, precos))

print("primeira lista = ",precos,"\n\nSegunda lista 10%=", precos_10_lbd)

primeira lista =  [10, 20, 30, 40, 60, 70]

Segunda lista 10%= [11.0, 22.0, 33.0, 44.0, 66.0, 77.0]

# **Função reduce()**

Aplica uma função considerado todos os valores de uam lista, e retorna apenas um resultado.
importá-la functools

In [15]:
from functools import reduce

numeros = [1,2,3,4,5,6]

produto = reduce (lambda x,y: x*y, numeros)

print ("lista=", numeros, "\n\nproduto=", produto)

lista= [1, 2, 3, 4, 5, 6]

produto= 720

# **Função filter()**

Realiza uma seleção (filtro) sobre os elementos da lista, seguindo uma condição apresentada na função passada como primeiro argumento. Se a função for atendida ela retorna true.

In [16]:
#retornando somente com os números pares da lista original

valores = [ 2,5,14,15,12,18,19,22,36,34]

pares = list(filter(lambda numero: not(numero % 2), valores))

pares

[2, 14, 12, 18, 22, 36, 34]

In [17]:
# no caso do map() a função filter() pode ser facilmente substituida por uma lista compreehens

pares_lc= [numero for numero in valores if numero % 2 == 0]
pares_lc

[2, 14, 12, 18, 22, 36, 34]